{{ define "main" }}
<main>
  <div class="homepage">
    <div class="row">
      <div class="col-sm-12">
        <h1>
          <span class="minor_line">Jan Meppe's Notes on</span>
          <br />
          <span class="major_line">Python and Data Science Notes</span>
          <br />
          <!-- <span class="minor_line">To Scale Myself</span> -->
        </h1>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 blurb">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.
        </p>
      </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <h4 class="card-header">Basics</h4>
                <div class="card-body">
                    {{ $section := site.GetPage "advanced" }}
                    {{ range $section.RegularPagesRecursive }}
                    <a href="{{ .Permalink }}">{{ .Title }} </a>
                    {{ end }}

                </div>
            </div>
        </div>
    </div>

  </div>
</main>
{{ end }}
